/* 底部 */
.footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.footer>.footer-box {
    display: flex;
    align-items: center;
}

.footer>.footer-box>a {
    flex: 1;
    padding: 2vw 6vw;
    text-align: center;
    font-size: 3.5vw;
    color: #8e8e93;
}

.footer>.footer-box>a:first-of-type {
    color: rgb(13, 135, 196);
}

.footer>.footer-box .box-img {
    width: 5.33vw;
    height: 5.33vw;
    margin-left: 3.5vw;
    padding-bottom: 2vw;
}

.footer>.footer-box .box-img>i {
    font-size: 6vw;
}

.backTop {
    display: none;
    position: fixed;
    bottom: 20vw;
    right: 4vw;
    z-index: 999;
    width: 10vw;
    height: 10vw;
    padding: 2vw;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.2vw solid #ccc;
    background-color: #fff;
}

.backTop>img {
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: 60%;
    height: 60%;
}